@media (max-width:1260px){
    .service {
        flex-wrap: wrap;
    }
    .services_inners, .image{
        margin-right: 25px;
        margin-bottom: 25px;
    }
    .container{
        padding: 0 15px;
    }
    .news-items{
        margin-bottom: 20px;
        margin-right: 15px;
    }
}
@media (max-width: 980px) {
    .header_inner-operator{
        display: none;
    }
    .oper{
        display: none;
    }
    .service{
        padding-bottom: 25px;
    }
    .news-items{
        margin: 10px;
        /* transform: scale(.9); */
    }
    .services_title{
        font-size: 25px;
        padding: 15px 0;
    }
    .more_news-text{
        margin-bottom: 5px;
    }
    .footer_inners{
        margin-top: 20px;
    }
}

@media (max-width: 950px){
    
    .footer_items-title, .contact, .footer_apps-title{
        font-size: 14px;
        padding-bottom: 10px;
    }
    .footer_links, .addres{
        font-size: 12px;
        padding-bottom: 5px;
    }
    .footer_apps-title{
        margin-bottom: 10px;
    }
}
@media (max-width: 830px) {
    .news-title{
        font-size: 25px;
        padding: 5px 0 15px;
    }
    .news_stat{
        display: block;
    }
    .news-date{
        margin-bottom: 5px;
    }
    .social{
        /* transform: scale(.7); */
    }
    .select_language{
        margin-bottom: 10px;
    }
    .for_apple{
        margin-right: 15px;
    }
    .for_apple, .for_google{
        font-size: 12px;
        padding-left: 30px;
    }
    .for_apple:before{
        font-size: 30px;
        left: 3px;
        top: 4px;
    }
    .for_google:before{
        width: 30px;
        height: 30px;
        left: 1px;
        top: 6px;
    }
}

@media (max-width: 700px) {
    .news-items{
        max-width: 45%;
        align-items: baseline;
    }
    .news_text{
        padding: 5px;
    }
    .news_stat{
        padding: 5px;
    }
    .news-inners{
        padding-bottom: 10px;
    }
    .more_news-text{
        font-size: 25px;
        padding: 5px;
        margin-bottom: 20px;
    }
    .apps{
        flex-direction: column;
    }
    .for_apple{
        margin-bottom: 5px;
        margin-right: 0;
    }
}
@media (max-width: 616px) {
    #logInforDesk{
        display: none;
    }
    #logIn{
        display: block;
    }
    .shaxsiy_kabinet:before {
        top: 10px;
        font-weight: 600;
    }
    main{
        padding: 5px;
    }
    .services_title{
        padding: 15px;
        font-size: 25px;
    }
    .select_language{
        font-size: 12px;
        padding: 5px;
    }
    .telegram, .instagram, .facebook {
        font-size: 15px;
        margin-right: 45px;
    }
}
@media (max-width: 500px) {
    .header_top{
        flex-wrap: wrap;
    }
    .header_logo{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 15px;
        text-align: center;
    }
     .services_inners, .image{
         margin-right: 10px;
         margin-bottom: 10px;
        }
    .service_link{
        font-size: 17px;
    }
    .news-inners{
        justify-content: center;
        padding-bottom: 15px;
    }
    .news-items{
        max-width: 95%;
        margin: 0;
        margin-bottom: 20px;
    }
    .footer_footer{
        flex-direction: column-reverse;
    }
    .apps{
        flex-direction: row;
        margin-bottom: 10px;
    }
    .for_apple{
        margin-bottom: 0;
    }
}
@media (max-width: 350px) {
    .service {
        justify-content: center;

    }
    .services_inners, .image{
        width: 130px;
        transform: scale(.9);
        margin-right: 2px;
        margin-bottom: 2px;
    }
}